:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-greyish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);

    --ff-sans: 'Inter', sans-serif;

    --fw-normal: 400;
    --fw-bold: 700;
    --fw-vbold: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--ff-sans);
}

body {
    margin: 2em;
    background-color: var(--off-white);
}

header {
    margin-bottom: 3em;
    color: var(--dark-greyish-blue);
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    min-width: 40%;
}

nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.hidden {
    display: none;
}

.wrapper {
    display: grid;
    grid-template: 42% 23% 25% / 1fr 1fr 1fr;
    gap: 2em;
}

#main-image {
    grid-column: 1 / span 2;
}

h1 {
    font-size: 3.25em;
    font-weight: var(--fw-vbold);
    width: 80%;
}

.subheading {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subheading > p, .top-article > p {
    line-height: 1.6em;
    color: var(--dark-greyish-blue)
}

.subheading > button {
    color: var(--off-white);
    background-color: var(--soft-red);
    width: 55%;
    padding: 1em;
    border: none;
    letter-spacing: 0.4em;
}

.new {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    grid-area: 1 / 3 / 3 / 4;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.new > h2 {
    font-size: 2.5em;
    color: var(--soft-orange)
}

.new h3 {
    font-size: 1.5em;
}

.top-article {
    margin-top: 2.5em;
    padding-right: 1em;
    display: grid;
    grid-template: 1fr 1fr 1fr / 35% 65%;
    gap: 1em;
}

.top-article > img {
    grid-area: 1 / 1 / 4 / 2
}

.top-article > h4 {
    font-size: 2em;
    color: var(--grayish-blue)
}

.top-article > h5 {
    font-size: 1em;
    font-weight: var(--fw-vbold);
    margin-top: 0.75em;
}

@media (max-width: 605px) {
    nav {
        display: none;
    }

    .hidden {
        display: block;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }

    .new {
        height: 90vh;
    }
}

